behave==1.2.6
behave-django==1.1.0
binaryornot==0.4.4
boto3==1.9.47
botocore==1.12.47
chardet==3.0.4
Django==2.1.11
django-behave==0.1.6
django-crispy-forms==1.7.2
docutils==0.14
jmespath==0.9.3
newrelic==4.6.0.106
parse==1.9.0
parse-type==0.4.2
python-dateutil==2.7.5
python-magic==0.4.15
pytz==2018.7
s3transfer==0.1.13
selenium==3.141.0
six==1.11.0
urllib3==1.24.1
watchtower==0.5.4
